* {
    margin: 0;
    padding: 0;
   
}




header {
    position: relative;
}
.header__wrapper, .logo__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: end;
}
ul {
    list-style: none;
}
.navbar__item {
    margin-right: 30px;
}
.navbar__link {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color:black;

}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.navbar__item:last-child {
    margin-right: 0;
}


.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    
}


.catalog__wrapper {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}


.catalog__header {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    justify-content: space-between;
}

.catalog__title {
    color: #1a212f;
    font-family: 'Rubik', sans-serif;
    font-size: 36px;
    font-weight: 700;
}

.catalog__sort {
    width: 174px;
    box-shadow: 0 2px 12px 0 #ad988f;
    border-radius: 30px;
    border: none;
  padding: 12px 0 12px 30px;
}



option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.filter__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 35px;
}

.filter__title {
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 600;
    
  
}

.filter_row {
    display: flex;
    flex-direction: row;
  
}
.filter__parameter {
    display: inline-block;
    max-width: 100px;
    margin: 0 10px 15px 0;
    border: 1px solid #e1e1e1;
}
.filter__label {
    font-family: "Lato",sans-serif;
    font-size: 14px;

}

.filter__reset { 
border: 2px solid #fac663;  
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
padding: 15px 40px 15px 40px;
box-shadow: 0 5px 25px rgba(26,33,47,.1);
border-radius: 25px;
background-color: #fffefd;
cursor: pointer;
}

.catalog__main {
    width: 400px;
}


.cards__wrapper {
       display: flex;
    justify-content: space-between;
    flex-flow: wrap;

}
.cards__item {
    padding-bottom: 30px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 270px;
    border-radius: 8px;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 25px #d0d0d0;
    margin-bottom: 30px;
}
.cards__image {
    margin-bottom: 25px;
    /* vertical-align: middle; */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
img {
    border: 0;
}

.cards__text {
    margin-bottom: 25px;
}

.cards__title {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}


.cards__description__row {
    margin-bottom: 15px;
    color: #1a212f;
    font-family: Lato,sans-serif;
    font-size: 14px;
}
.cards__description:last-child {
    margin-bottom: 0;
}
.cards__description__price {
font-size: 18px;
}

.cards__button {
    margin: 0  0 0 25px;
}
.room-text-btn {
    margin: 0 0 40px 100px;
    background-color: #ff7236;
}
.btn {
    padding: 14px 63px 17px 30px;
    box-shadow: 0 5px 25px rgba(26,33,47,.1);
    border-radius: 25px;
    background-color: #fffefd;
    cursor: pointer;
}
.button {
    text-transform: none;
    line-height: normal;
    color: white;
    background-color: #ff7236;
    font-size: 100%;
    margin: auto;
}

.item__button__img {
    position: absolute;
    margin: -7px 0 0 10px;
}



.banner {
font-family: "Rubik",sans-serif;
font-weight: 700;
}
.banner__paw {
    position: absolute;
}

.banner__wrapper {
    margin: 140px 0;
    margin: 140px 0;
    padding: 78px 0 78px 270px;
    background-image: url(img/banner.png);
    background-size: cover;
    border-radius: 15px;
}
.banner__title {
    display: block;
    max-width: 321px;
    font-size: 36px;
    margin-bottom: 25px;
}
 strong{
     font-size: 56px;
 }
.banner__subtitle {
    width: 279px;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    margin-bottom: 35px;
    font-weight: normal;
    line-height: 140%;
}
.banner__btn {
    color: black;
    background-color: #fff;
}
.banner__button__img {
    margin-top: -6px;
    margin-left: 10px;
    position: absolute;
}

.footer__wrapper {
    border-bottom: 1px solid #efefef;
}

.footer__text {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 17px 0;

    color: #8f8f8f;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
}